# ==========================================
# ⚙️ CONFIGURACIÓN BASE (NestJS)
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# 🐘 BASE DE DATOS (PostgreSQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=cloud_academy

# ==========================================
# 🔐 SEGURIDAD (Módulo Auth / JWT)
# ==========================================
# Cambia esto por una frase más segura en producción
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRATION=24h

# ==========================================
# ☁️ GOOGLE CLOUD (Drive & Sheets)
# ==========================================
# Asegúrate de que el archivo JSON esté en la raíz del proyecto backend
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json
GOOGLE_DRIVE_FOLDER_ID=pega_aqui_el_id_de_la_carpeta_drive
GOOGLE_SHEET_ID=pega_aqui_el_id_del_excel

# ==========================================
# 📧 NOTIFICACIONES (Módulo Mail)
# ==========================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=tu_correo@gmail.com
# La contraseña de aplicación de 16 letras generada en la cuenta de Google
MAIL_PASSWORD=pega_aqui_las_16_letras_sin_espacios
