# ==========================================
# ⚙️ CONFIGURACIÓN BASE (NestJS)
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# 🐘 BASE DE DATOS (PostgreSQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345   
DB_NAME=cloud

# ==========================================
# 🔐 SEGURIDAD (Módulo Auth / JWT)
# ==========================================
# Cambia esto por una frase más segura en producción
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRATION=24h

# ==========================================
# ☁️ GOOGLE CLOUD (Drive & Sheets)
# ==========================================
# Asegúrate de que el archivo JSON esté en la raíz del proyecto backend
GOOGLE_DRIVE_FOLDER_ID=1y0_hh5-XcXn2r5hUjElEtfoefPn858W6
GOOGLE_SHEET_ID=1QK0NPB07KEIGEB3HugQ1T6OAAZReYxCU0dofBG3Iq_o

# ==========================================
# 📧 NOTIFICACIONES (Módulo Mail)
# ==========================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=andresguti2003@gmail.com
# La contraseña de aplicación de 16 letras generada en la cuenta de Google
MAIL_PASSWORD=znwwmulzmbkkgnbv
SEED_DATA=true
